@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
}

body {
    margin: 0;
    font-style: normal;
    font-family: 'Helvetica';
}

.app {
    height: 100vh;
    max-height: 100vh;
}

/* Title */
.title-section {
    background: rosybrown;
    padding: 2rem;
}

.title {
    font-size: 2rem;
}

.sub-title{
    font-size: 1.5rem;
}

/* Content */
.content-section {
    padding: 2rem;
    display: flex;
    width: calc(100% - 4rem);
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding-right: 1rem;
    max-width: 75%;
    height: 100%;
}

.side-information {
    border-left: 1px solid lightgray;
    padding-left: 1rem;
    flex-grow: 1;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* TODO add classes for introduction and job elements */

/* Personal Information */
.personal-information {
    flex-shrink: 1;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5rem;
}

.info-item {
    display: flex;
    padding-bottom: 1rem;
}

.info-icon {
    height: 1.2rem;
    width: 1.2rem;
}

.info-text {
    padding-left: 0.5rem;
}

/* Skills */
.skills {
    flex-shrink: 1;
    border: 1px solid lightgray
}

.skills-title {
    color: lightblue
}

.skill-item {
    padding: 0.5rem;
    text-align: center;
}

.skill-box {
    width: 100%;
    background: lightgray; 
    height: 1rem;
    overflow: hidden;
}

.skill-progress {
    position: relative;
    float: left;
    background: red;
    padding: 0.5rem;
    padding-right:0.5rem;
    margin-right:0.5rem;
}
.skill-progress:after{
    content: '';
    display: block;  
    position: absolute;
    left: 100%;
    top: 0%;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid red;
    border-bottom: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    overflow: hidden;
}


.skill-title {
    margin-top: 0.2rem;
}

/* Education */
.education {
    flex-shrink: 1;
}

.education-item {
    font-size: 1rem;
}

.education-title {
    font-size: 1rem;
}

.education-univ {
    font-size: 0.7rem;
}

.education-duration {
    font-size: 0.6rem;
}